<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store</title>
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a class="navbar-brand" href="#">Bingo Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'store:prods' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store:profile' %}">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store:category' %}">category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store:wishlist' %}">wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store:cart' %}">cart</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">test_page</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

  <div class="container">
    {% block content %}
    <h1 class="mt-4">Home</h1>
    <h5>loged in as {{user}}</h5>
    <p>Kila kitu kila siku</p>
    <div class="row mt-1">
      {% for item in data %}
      <div class="col-6 col-md-2 mb-4">
        <a href="/store/products/{{item}}" style="text-decoration: none;">
        <div class="card m-1 text-truncate overflow-hidden" style="max-width: 200px;">

          <img src="{{item.image.url}}" class="card-img-top" alt="Placeholder Image">

          <div class="card-body">
            <h5 class="card-title">{{item}}</h5>
            <p class="card-text">ksh {{item.sellp}}</p>
            <!--a href="#" class="btn btn-primary">Learn More</a-->
          </div>
        </div>
      </a>
      </div>

      <!-- Repeat similar blocks for the remaining cards -->
      {% endfor %}
    </div>
    {% endblock %}
  </div>

  <!-- Link to Bootstrap JS (optional) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>
</html>
