{% extends 'products.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{info}}</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h3>{{info}}</h3>
        <div class="row mt-1">
            {% for item in prods %}
            <div class="col-6 col-md-2 mb-4">
              <a href="/store/products/{{item}}" style="text-decoration: none;">
              <div class="card m-1 text-truncate overflow-hidden" style="max-width: 200px;">
      
                <img src="{{item.image.url}}" class="card-img-top" alt="Placeholder Image">
      
                <div class="card-body">
                  <h5 class="card-title">{{item}}</h5>
                  <p class="card-text">ksh {{item.sellp}}</p>
                  <!--a href="#" class="btn btn-primary">Learn More</a-->
                </div>
              </div>
            </a>
            </div>
      
            <!-- Repeat similar blocks for the remaining cards -->
            {% endfor %}
          </div>
    </div>
    {% endblock %}
</body>
</html>